---
title: Home
categories: [pages]
id: main
layout: splash
---


    <div class="main-container">
      <div class="main clearfix">
        <article>
          <header class="main-blurb">
            <div class="wrapper">
              <h1>International Image Interoperability Framework</h1>
              <p>Enabling Richer Access to the World's Images</p>
              <p class="buttons">
                <a class="button-turquoise" href="/about/features.html">Why should I Use IIIF?</a>
                <a class="button-turquoise" href="/start/index.html">How do I Get Started?</a>
              </p>
            </div>
          </header>

{% include announcements.html %}

          <section class="main-highlight-blurbs">
            <div class="wrapper">
              <div class="highlight community-driven">
                <h2><a href="community/join.html">Community Driven</a></h2>
                <p>IIIF is driven by a <a href="/community/join.html">consortium</a> of libraries, museums, universities, companies, and image repositories committed to opening up access to images from every culture.</p>
              </div>
              <div class="highlight defined-apis">
                <h2><a href="technical/index.html">Defined APIs</a></h2>
                <p>IIIF is anchored by well defined <a href="technical/index.html">application programming interfaces</a>, developed against real use cases and vetted by an open and rigorous community process.</p>
              </div>
              <div class="highlight plug-n-play">
                <h2><a href="products/solutions.html">Plug ’n’ Play Software</a></h2>
                <p>IIIF encourages and supports the development of interoperable image serving and viewing <a href="products/solutions.html">software</a> that is easy to install and provides a dazzling user experience.</p>
              </div>
            </div>
          </section>

          <section style="background: black">

<div id="carousel">
    {% for i in site.data.showcase %}
      <div style="width: 31%px; height: 430px; background: black;">
        <center>
        <a href="{{ i.url }}" style="border: none;"><img height="400px" src="{{ i.img_url }}"/></a>
        <b style="color: #D0D0D0">{{ i.name }}</b></center>
      </div>
    {% endfor %}
</div>

<script type="text/javascript">

  $('#carousel').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    pauseOnHover: true,
    variableWidth: true
  });

</script>

          </section>

        </article>
      </div> <!-- #main -->
    </div> <!-- #main-container -->
